<div id='viewing' data-string=<%= @data %>> </div>

<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.4.20/p5.min.js' %>
<%= javascript_include_tag 'https://rawgit.com/bmoren/p5.collide2D/master/p5.collide2d.js' %>
<%= javascript_include_tag 'viewSketch.js' %>