body   {
	padding: 0;
  margin: 0;
	background: #000000;
	font-family: 'Roboto', sans-serif;
  overflow: hidden;

  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
   user-select: none;          /* Likely future */
}

p {
	margin-bottom: 5px;
	font-size: 18px;
	border-bottom: 1px solid black;
}

#control-panel {
	width: 100%;
	height: 100px;
}

#control-panel div{
	background-color: rgb(100, 100, 100);
	box-sizing: border-box;
	text-align: center;
}

#control-panel div.active {
	background-color: rgb(200, 200, 200);
}

#save_button {
  position: absolute;
  left: 50%;
  top: 97%;
}

#update_button {
  position: absolute;
  left: 50%;
  top: 97%;
}

.column-left{
	float: left;
	width: 50%;
	height: 100%;
  border-right: 2px black solid;
}

.column-right{
	float: right;
	width: 50%;
	height: 100%;
}
